<section class="carrinho">
  {% if cart.items.size > 0 %}
    <p>Carrinho</p>
  {% else %}
    <p>Carrinho vazio</p>
  {% endif %}
</section>

<style>
  section.carrinho {
    display: flex;
  }
</style>

<script></script>
