<section class="categorias">

</section>

<style>
.categorias {
  display: flex;
}
@media screen and (max-width: 1000px) {
}
</style>

{% schema %}
{
  "name": "Categorias",
  "settings": []
}
{% endschema %}
